module Etlify
  class <%= class_name %>Serializer
    attr_reader :record

    def initialize(record)
      @record = record
    end

    def as_crm_payload
      {
        id: record.id
        # Add here the relevant fields for your CRM
      }
    end
  end
end
